/* ============ GENERAL ============== */
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

nav {
  background-color: #000;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav span{
   padding: 30px;
}

#navContent {
    color: black;
    list-style: none;
    display: none;
    position: fixed;
    background-color: wheat;
    z-index: 2;
    overflow: auto;
}

nav:hover > #navContent {
    display: block;
    position: fixed;
    width: 100%;
    overflow: auto;
}

nav:hover > #navContent li{
    padding: 12px;
}

nav:hover > #navContent li:hover{
    background-color: #00539CFF;
    color: white;
}


#galleriesPage, #auctionsPage, #registrationPage, #aboutPage {
    display: none;
}

/* ============ GENERAL ============== */


/* ============ HOME PAGE ============== */

#image-slider {
    margin: auto;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: wheat;
}

#slide-image {
    width: 400px;
}

#slideLeft, #slideRight {
    display: inline-block;
    font-size: 30px;
    font-weight: bolder;
    background-color: wheat;
    user-select: none;
}

.highlight{
  display: inline-block;
}

#company-highlight{
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  flex-basis: 100%;
}

.brief{
  background-color: #00539CFF;
  color: white;
}

#logo{
  margin-left: 1350px;
  margin-top: 20px;
}

.objective{
  background-color: wheat;
  color: #00539CFF;
}

/* ============ HOME PAGE ============== */


/* ============ AUCTIONS PAGE ============== */

.auctionItem {
    display: inline-block;
    background-color: wheat;
}

.auctionItem > img {
    width: 300px;
    position: relative;
}

.auctionItem > img:hover {
  transform: scale(1.3);
  z-index: 1;
}

.auctionDeadline {
  color: red;
  font-weight: bolder;
}

.bidDate{
  font-weight: bolder;
}

.oncomingBidDate{
  font-weight: bolder;
}


/* ============ AUCTIONS PAGE ============== */


/* ============ REGISTRATION PAGE ============== */

.inputWarning {
    color: red;
    display: none;
}

input[type=text], select, textarea{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=text]:focus {
    background-color: rgb(207, 241, 252);
  }

  input[type=email], select, textarea{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email]:focus {
    background-color: rgb(207, 241, 252);
  }

  input[type=password], select, textarea{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=password]:focus {
    background-color: lightblue;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  button[type=submit] {
    background-color: #00539CFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
  }
  
  button[type=submit]:hover {
    background-color: #0063B2FF;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #0063B2FF;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 72%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* ============ REGISTRATION PAGE ============== */



/* ============ GALLERIES PAGE ============== */

.galleryItem > div {
    display: inline-block;
}

.galleryItem {
    text-align: left;
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.galleryItem > div > p {
    display: inline-block;
    margin: 0 10px;
}

.galleryItem > div > img {
    width: 100px;
    position: relative;
}

.galleryItem > div > img:hover {
  transform: scale(2.5);
  left: 100%;
  z-index: 1;
}

/* ============ GALLERIES PAGE ============== */


/* ============ ABOUT PAGE ============== */
#profile{
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

#company-logo {
  width: max-content;
}

#profile > div > h2 {
  text-align: center;
}

/* .company-profile{
  display: flex;
  text-align: justify;
  padding-left: 30px;
} */


/* .company-profile h2{
  text-align: center;
} */


/* .logo{
  margin-left: 20%;
} */

/* .history{
  margin-right: 20%;
  padding: 20px;

} */

/* .art{
  margin-right: 20%;
  padding: 20px;

} */

map{
  float: left;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* ============ ABOUT PAGE ============== */


/* ============ FOOTER ============== */

footer {
  background-color: black;
  color: white;
  padding: 20px;
}

/* ============ FOOTER ============== */


/* ============ RESPONSIVE ============== */
/* @media only screen and (max-width: 800px) {
    #slide-image {
        width: 75%
    }
    .highlight {
      display: block;
    }
    #company-logo {
      width: 90%;
    }
    #map {
      width: 100%;
    }

} */



#slideshow {
  margin: 50px auto;
  position: relative;
  width: 250px;
  height: 240px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.brief p{
  display: grid;
  margin-right: 500px;
  margin-bottom: -10px;
}

.brief img{
  margin-left: 10%;
  margin-top: -140px;
  border-radius: 5%;
}

.objective{
  margin-bottom: -40px;
}

.objective img{
  margin-left: 100px;
  margin-top: -350px;
  margin-bottom: 0px;
}

.objective p{
  display: grid;
  margin-left: 600px;
  margin-bottom: 0px;
  margin-right: 100px;
}

.objective h2{
  display: grid;
    margin-top: 40px;
  margin-left: 600px;
  margin-bottom: 10px;
  margin-right: 100px;
}

@media screen and (max-width: 1280px) {
  #logo{
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 5%;
    width: 80%;
  }

  #logo img{
    margin-left: 180px;
    margin-top: 50px;
  }
}


@media screen and (max-width: 800px) {
    .col-25, .col-75, button[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .brief p{
      display: grid;
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 250px;
    }

    .brief h2{
      margin-left: 20px;
    }

    #logo{
      margin-left: 40px;
      margin-top: 10px;
      border-radius: 5%;
      width: 80%;
    }

    #logo img{
      margin-left: 70px;
      margin-top: -200px;
    }

  .objective img{
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 80%;
  }

  .objective p{
    display: grid;
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 25px;
  }

  .objective h2{
    display: grid;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
  }
}